
        @{
        ViewData["Title"] = "Login";
        Layout = "~/Views/Login/_LayoutPage1.cshtml";
    }


<h1>Mathe Nachhilfe Plattform</h1>
<br />
<h1>Login Successfully</h1>
<!DOCTYPE html>

<head>
    <title>Mathe Nachhilfe Plattform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/css/StyleSheet.css" rel="stylesheet" />


</head>
<body>
    <div class=" container">
        <div class="img">
            <img src="~/lib/images/undraw_Work_time_re_hdyv.svg" />
        </div>
    </div>
</body>