
@{
    ViewBag.Title = "About";
}

<h1>Mathe-Nachhilfe-Plattform</h1>

<h2> About uns</h2>
<!DOCTYPE html>
<html>
<head>
    <title>About  </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #button {
            height: 30;
            width: 30;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .wave {
            position: fixed;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: 1;
        }

        .container {
            width: 50;
            height: 50;
            padding: 0 2rem;
        }

        .login-container {
            position: absolute;
            left: 18%;
            top: 10%;
            padding: 10px 10px
        }

        .img {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .img img {
                width: 500px;
            }

        .login-container {
            display: flex;
            align-items: center;
            text-align: center;
        }

        form {
            width: 360px;
        }

        .avatar {
            width: 100px;
        }

        form h2 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        h1 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        .input-div {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 25px 0;
            padding: 5px 0;
            border-bottom: 2px solid #d9d9d9;
        }

        .field-validation-error {
            color: red;
        }

        .input-div:after, .input-div:before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #38d39f;
        }

        .input-div:after {
            right: 50%;
        }

        .input-div:before {
            left: 50%;
        }

        .input-div.focus .i i {
            color: #38d39f;
        }

        .input-div.focus div h5 {
            top: -5px;
            font-size: 15px;
        }

        .input-div.focus:after, .input-div.focus:before {
            width: 50%;
        }

        .input-div.one {
            margin-top: 0;
        }

        .input-div.two {
            margin-bottom: 4px;
        }

        .i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .i i {
                color: #d9d9d9;
            }

        .input-div > div {
            position: relative;
            height: 45px;
        }

            .input-div > div h5 {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #999;
                font-size: 18px;
                display: none;
                transition: .3s;
            }

        .input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            outline: none;
            background: none;
            padding: 0.5rem 0.7rem;
            font-size: 1.2rem;
            color: #555;
        }

        a {
            display: block;
            text-align: right;
            text-decoration: none;
            color: #999;
            font-size: 0.9rem;
            transition: .3s;
        }

            a:hover {
                color: #38d39f;
            }

        .btn {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            margin: 1rem 0;
            font-size: 1.2rem;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Poppins',sans-serif;
            background-size: 200%;
            transition: .5s;
        }

            .btn:hover {
                background-position: right;
            }
    </style>


</head>
<body>

    <div class="container">
        <div class="img">

            <img src="~/image/undraw_Work_time_re_hdyv.svg" />
        </div>
    </div>
    <h2>Mathe-Nachhilfe-Plattform</h2>

    <h2>Datenschützerklärung</h2>
    <p>
        Data protection

        In this data protection declaration we inform you about the processing of personal data when using this website.

        Responsible person

        Is responsible for the data processing
        Add the name, address, telephone number and email address of the website operator

        Data protection officer

        This information is only required if there is an obligation to appoint a data protection officer. This exists in the following cases:

        In the company, at least 10 employees regularly process data such as B. with computers.
        Regardless of the number of employees, you process at least one category of the following personal data in the company: ethnic origin, race, political opinion, religious beliefs, union membership, health or sex life
        The focus of business activity is the transmission of personal data such as B. a credit agency, an address publisher or a market and opinion research institute.
        The data protection officer can be reached at the address of the person responsible. When you contact us by post, please add the note "data protection officer" to the address. You can contact our data protection officer by e-mail at the following e-mail address: Insert the data protection officer’s e-mail address

        Personal data

        Personal data is all information that relates to an identified or identifiable natural person (hereinafter "data subject"). A natural person is regarded as identifiable who can be identified directly or indirectly, in particular by means of assignment to an identifier such as a name, to an identification number, to location data, to an online identifier or to one or more special features that express the physical , physiological, genetic, psychological, economic, cultural or social identity of this natural person.

        Data when visiting the website

        If you only use this website to obtain information and do not provide any data, then we will only process the data that is necessary to display the website on the internet-enabled device you are using. These are in particular:

        IP address
        Date and time of the request
        amount of data transferred in each case
        the website from which the request came
        Browser type and browser version
        operating system
        The legal basis for the processing of this data are legitimate interests in accordance with Art. 6 Para. 1 Subpara. 1 letter f) GDPR to enable the website to be displayed.

        In addition, you can use various services on the website that process further personal and non-personal data.

        Your rights

        As a data subject, you have the following rights:

        You have a right to information regarding the personal data concerning you that the person responsible is processing (Art. 15 GDPR),
        You have the right to have your data corrected if it is stored incorrectly or incompletely (Art. 16 GDPR),
        You have the right to deletion (Art. 17 GDPR),
        You have the right to request that the processing of your personal data be restricted (Art. 18 GDPR),
        You have the right to data portability (Art. 20 GDPR),
        You have a right to object to the processing of personal data concerning you (Art. 21 GDPR),
        You have the right not to be subjected to a decision based solely on automated processing - including profiling - which has legal effects on you or which significantly affects you in a similar manner (Art. 22 GDPR),
        You have the right to complain to the competent supervisory authority in the event of a suspected violation of data protection law (Art. 77 GDPR). The supervisory authority at your usual place of residence, workplace or at the location of the suspected violation is responsible.
    </p>
   
</body>
</html>
