
@{
    ViewBag.Title = "About";
}

<h1>Mathe Nachhilfe Plattform</h1>

<h2> About uns</h2>
<!DOCTYPE html>
<html>
<head>
    <title>About  </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #button {
            height: 30;
            width: 30;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .wave {
            position: fixed;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: 1;
        }

        .container {
            width: 50;
            height: 50;
            padding: 0 2rem;
        }

        .login-container {
            position: absolute;
            left: 18%;
            top: 10%;
            padding: 10px 10px
        }

        .img {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .img img {
                width: 500px;
            }

        .login-container {
            display: flex;
            align-items: center;
            text-align: center;
        }

        form {
            width: 360px;
        }

        .avatar {
            width: 100px;
        }

        form h2 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        h1 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        .input-div {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 25px 0;
            padding: 5px 0;
            border-bottom: 2px solid #d9d9d9;
        }

        .field-validation-error {
            color: red;
        }

        .input-div:after, .input-div:before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #38d39f;
        }

        .input-div:after {
            right: 50%;
        }

        .input-div:before {
            left: 50%;
        }

        .input-div.focus .i i {
            color: #38d39f;
        }

        .input-div.focus div h5 {
            top: -5px;
            font-size: 15px;
        }

        .input-div.focus:after, .input-div.focus:before {
            width: 50%;
        }

        .input-div.one {
            margin-top: 0;
        }

        .input-div.two {
            margin-bottom: 4px;
        }

        .i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .i i {
                color: #d9d9d9;
            }

        .input-div > div {
            position: relative;
            height: 45px;
        }

            .input-div > div h5 {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #999;
                font-size: 18px;
                display: none;
                transition: .3s;
            }

        .input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            outline: none;
            background: none;
            padding: 0.5rem 0.7rem;
            font-size: 1.2rem;
            color: #555;
        }

        a {
            display: block;
            text-align: right;
            text-decoration: none;
            color: #999;
            font-size: 0.9rem;
            transition: .3s;
        }

            a:hover {
                color: #38d39f;
            }

        .btn {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            margin: 1rem 0;
            font-size: 1.2rem;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Poppins',sans-serif;
            background-size: 200%;
            transition: .5s;
        }

            .btn:hover {
                background-position: right;
            }
    </style>


</head>
<body>

    <div class="container">
        <div class="img">

            <img src="~/image/undraw_Work_time_re_hdyv.svg" />
        </div>
    </div>
    <h2>Mathe-Nachhilfe-Plattform</h2>

    <h2>Datenschützerklärung</h2>
    <p>
        Datenschutzerklärung

        In dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten bei der Nutzung dieser Website.

        Verantwortlicher

        Verantwortlich für die Datenverarbeitung ist
        Name, Adresse, Telefonnummer und E-Mail-Adresse des Websitebetreibers ergänzen

        Datenschutzbeauftragter

        Die Angabe ist nur erforderlich bei Pflicht zur Bestellung eines Datenschutzbeauftragten. Diese besteht in folgenden Fällen:

        Im Unternehmen verarbeiten mindestens 10 Mitarbeiter regelmäßig automatisiert Daten wie z. B. mit Computern.
        Im Unternehmen verarbeiten Sie unabhängig von der Mitarbeiterzahl mindestens eine Kategorie folgender personenbezogener Daten: ethnische Herkunft, Rasse, politische Meinung, religiöse Überzeugung, Gewerkschaftszugehörigkeit, Gesundheit oder Sexualleben
        Mittelpunkt der Geschäftstätigkeit ist die Übermittlung personenbezogener Daten wie sie z. B. eine Auskunftei, ein Adressverlag oder ein Markt- und Meinungsforschungsinstitut ausübt.
        Der Datenschutzbeauftragte ist unter der Adresse des Verantwortlichen zu erreichen. Bitte ergänzen Sie die Adresse bei der Kontaktaufnahme per Post mit dem Hinweis "Datenschutzbeauftragter". Per E-Mail erreichen Sie unseren Datenschutzbeauftragten über die folgende E-Mail-Adresse: E-Mail-Adresse des Datenschutzbeauftragten einfügen

        Personenbezogene Daten

        Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person") beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.

        Daten beim Websiteaufruf

        Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind. Das sind insbesondere:

        IP-Adresse
        Datum und Uhrzeit der Anfrage
        jeweils übertragene Datenmenge
        die Website, von der die Anforderung kommt
        Browsertyp und Browserversion
        Betriebssystem
        Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 UAbs. 1 Buchstabe f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.

        Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und nicht personenbezogene Daten verarbeitet werden.

        Ihre Rechte

        Als betroffene Person haben Sie folgende Rechte:

        Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der Verantwortliche verarbeitet (Art. 15 DSGVO),
        Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig gespeichert werden (Art. 16 DSGVO),
        Sie haben das Recht auf Löschung (Art. 17 DSGVO),
        Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18 DSGVO),
        Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),
        Sie haben ein Widerspruchsrecht gegen die Verarbeitung Sie betreffender personenbezogener Daten (Art. 21 DSGVO),
        Sie haben das Recht nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),
        Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.

    </p>
   
</body>
</html>
