
@{
    ViewBag.Title = "Index";
}

<h1>Mathe-Nachhilfe-Plattform</h1>

<h2>  Startseite</h2>
<!DOCTYPE html>
<html>
<head>
    <title>About  </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #button {
            height: 30;
            width: 30;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .wave {
            position: fixed;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: 1;
        }

        .container {
            width:50;
            height: 50;
            padding: 0 2rem;
        }

        .login-container {
            position: absolute;
            left: 18%;
            top: 10%;
            padding: 10px 10px
        }

        .img {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .img img{
                width: 500px;
            }

        .login-container {
            display: flex;
            align-items: center;
            text-align: center;
        }

        form {
            width: 360px;
        }

        .avatar {
            width: 100px;
        }

        form h2 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        h1 {
            font-size: 2.9rem;
            text-transform: uppercase;
            margin: 15px 0;
            color: #333;
        }

        .input-div {
            position: relative;
            display: grid;
            grid-template-columns: 7% 93%;
            margin: 25px 0;
            padding: 5px 0;
            border-bottom: 2px solid #d9d9d9;
        }

        .field-validation-error {
            color: red;
        }

        .input-div:after, .input-div:before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #38d39f;
        }

        .input-div:after {
            right: 50%;
        }

        .input-div:before {
            left: 50%;
        }

        .input-div.focus .i i {
            color: #38d39f;
        }

        .input-div.focus div h5 {
            top: -5px;
            font-size: 15px;
        }

        .input-div.focus:after, .input-div.focus:before {
            width: 50%;
        }

        .input-div.one {
            margin-top: 0;
        }

        .input-div.two {
            margin-bottom: 4px;
        }

        .i {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .i i {
                color: #d9d9d9;
            }

        .input-div > div {
            position: relative;
            height: 45px;
        }

            .input-div > div h5 {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #999;
                font-size: 18px;
                display: none;
                transition: .3s;
            }

        .input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: none;
            outline: none;
            background: none;
            padding: 0.5rem 0.7rem;
            font-size: 1.2rem;
            color: #555;
        }

        a {
            display: block;
            text-align: right;
            text-decoration: none;
            color: #999;
            font-size: 0.9rem;
            transition: .3s;
        }

            a:hover {
                color: #38d39f;
            }

        .btn {
            display: block;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            margin: 1rem 0;
            font-size: 1.2rem;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #32be8f,#38d39f,#32be8f);
            cursor: pointer;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Poppins',sans-serif;
            background-size: 200%;
            transition: .5s;
        }

            .btn:hover {
                background-position: right;
            }
    </style>


</head>
<body>

    <div class="container">
        <div class="img">

            <img src="~/image/undraw_Work_time_re_hdyv.svg" />
        </div>
    </div>

    <div class="navbar-collapse collapse">
       

            
            <h2>@Html.ActionLink("Login", "Index", "Login")</h2>

            <h2>@Html.ActionLink("Registrien As New User ", "AddOrEdit", "User")</h2>
           
       
    </div>
    <h2 class="section-title mb-3">
        Our Successful Courses
    </h2> <p class="lead">

    Here you will find everything you need, all the mathematical documents of your teachers and the collections of exercises from this year and from previous years
</p> <div class="d-flex flex-column align-items-center justify-content-center"><span aria-hidden="true" class="mx-auto mt-5 mb-4 spinner-grow" style="width:64px;height:64px"><!----></span> <p class="text-capitalize">récupération cours...</p></div></div></div></section> <div id="team-section" class="site-section border-bottom">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">

                        Learn from recognized experts!
                    </h2> <p class="lead">
    Mathe-Nachhilfe -Plattform brings together highly qualified trainers and
    passionate about personal development to offer you
    world-class learning experiences, online and offline
    line.
</p>
                </div>
            </div> <div class="row"></div>
        </div>
    </div> <section class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-6 text-center">
                    <h2 class="section-title mb-3 text-capitalize">
                        Here's what you can expect with Mathe-Nachhilfe-Plattform
                    </h2>
                </div>
            </div> <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_feature">
                        <div class="icon"><span class="flaticon-student"></span></div> <div class="desc">
                                                                                           <h4 class="mt-3 mb-2">
                                                                                               Transformational Trainers
                                                                                           </h4> <p>
            Accelerate your personal growth by learning online and at your own pace from the greatest minds.
</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>





</body>
</html>

